In [1]:
#dataframes

In [ ]:
#Pkg.add("DataFrames") # data in tabular form: rows and columns
#Pkg.add("RDatasets") # dataset repository. Has a lot of R's dataset packages. on github: github.com/JuliaStats/RDatasets.jl
#Pkg.add("CSV") # handles CSV files

In [2]:
using DataFrames

In [3]:
anscombe=DataFrame([10 10 10 8 8.04 9.14 7.46 6.58;
8 8 8 8 6.95 8.14 6.77 5.76;
13 13 13 8 7.58 8.74 12.74 7.71;
9 9 9 8 8.81 8.77 7.11 8.84;
11 11 11 8 8.33 9.26 7.81 8.47;
14 14 14 8 9.96 8.1 8.84 7.04;
6 6 6 8 7.24 6.13 6.08 5.25;
4 4 4 19 4.26 3.1 5.39 12.5;
12 12 12 8 10.84 9.13 8.15 5.56;
7 7 7 8 4.82 7.26 6.42 7.91;
5 5 5 8 5.68 4.74 5.73 6.89],:auto);

In [4]:
anscombe

11×8 DataFrame
 Row │ x1       x2       x3       x4       x5       x6       x7       x8
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    10.0     10.0     10.0      8.0     8.04     9.14     7.46     6.58
   2 │     8.0      8.0      8.0      8.0     6.95     8.14     6.77     5.76
   3 │    13.0     13.0     13.0      8.0     7.58     8.74    12.74     7.71
   4 │     9.0      9.0      9.0      8.0     8.81     8.77     7.11     8.84
   5 │    11.0     11.0     11.0      8.0     8.33     9.26     7.81     8.47
   6 │    14.0     14.0     14.0      8.0     9.96     8.1      8.84     7.04
   7 │     6.0      6.0      6.0      8.0     7.24     6.13     6.08     5.25
   8 │     4.0      4.0      4.0     19.0     4.26     3.1      5.39    12.5
   9 │    12.0     12.0     12.0      8.0    10.84     9.13     8.15     5.56
  10 │     7.0      7.0      7.0      8.0     4.82     7.26     6.42     7.91
  11 │     5.0      5.0      5.0      8.0     5.68     4.74     5.73     6.89

In [6]:
rename!(anscombe, [Symbol.(:N,1:4); Symbol.(:M,1:4)]) #rename columns? into a proper df

11×8 DataFrame
 Row │ N1       N2       N3       N4       M1       M2       M3       M4
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    10.0     10.0     10.0      8.0     8.04     9.14     7.46     6.58
   2 │     8.0      8.0      8.0      8.0     6.95     8.14     6.77     5.76
   3 │    13.0     13.0     13.0      8.0     7.58     8.74    12.74     7.71
   4 │     9.0      9.0      9.0      8.0     8.81     8.77     7.11     8.84
   5 │    11.0     11.0     11.0      8.0     8.33     9.26     7.81     8.47
   6 │    14.0     14.0     14.0      8.0     9.96     8.1      8.84     7.04
   7 │     6.0      6.0      6.0      8.0     7.24     6.13     6.08     5.25
   8 │     4.0      4.0      4.0     19.0     4.26     3.1      5.39    12.5
   9 │    12.0     12.0     12.0      8.0    10.84     9.13     8.15     5.56
  10 │     7.0      7.0      7.0      8.0     4.82     7.26     6.42     7.91
  11 │     5.0      5.0      5.0      8.0     5.68     4.74     5.73     6.89

In [8]:
using RDatasets
anscombe=dataset("datasets","anscombe") #using RDatasets, first arg: name of package, second arg: name of dataset

11×8 DataFrame
 Row │ X1     X2     X3     X4     Y1       Y2       Y3       Y4
     │ Int64  Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────
   1 │    10     10     10      8     8.04     9.14     7.46     6.58
   2 │     8      8      8      8     6.95     8.14     6.77     5.76
   3 │    13     13     13      8     7.58     8.74    12.74     7.71
   4 │     9      9      9      8     8.81     8.77     7.11     8.84
   5 │    11     11     11      8     8.33     9.26     7.81     8.47
   6 │    14     14     14      8     9.96     8.1      8.84     7.04
   7 │     6      6      6      8     7.24     6.13     6.08     5.25
   8 │     4      4      4     19     4.26     3.1      5.39    12.5
   9 │    12     12     12      8    10.84     9.13     8.15     5.56
  10 │     7      7      7      8     4.82     7.26     6.42     7.91
  11 │     5      5      5      8     5.68     4.74     5.73     6.89

In [9]:
empty_df=DataFrame(X=1:10,Y=21:30) #not actually empty, just simple
# column vectors need to have same length

10×2 DataFrame
 Row │ X      Y
     │ Int64  Int64
─────┼──────────────
   1 │     1     21
   2 │     2     22
   3 │     3     23
   4 │     4     24
   5 │     5     25
   6 │     6     26
   7 │     7     27
   8 │     8     28
   9 │     9     29
  10 │    10     30

In [25]:
actually_empty_df = DataFrame(
    Name=String[],
    W=Float64[], #just Float doesn't work
    H=Int[]
)

0×3 DataFrame

In [26]:
# adding values to a dataframe
# vcat(): vertical concat? can add records. concatenates given arrays along dimension 1
actually_empty_df=vcat(actually_empty_df, DataFrame(Name="emptytestdataframe",W=6.0,H=5))

1×3 DataFrame
 Row │ Name                W        H
     │ String              Float64  Int64
─────┼────────────────────────────────────
   1 │ emptytestdataframe      6.0      5

In [27]:
vcat!()

LoadError: UndefVarError: vcat! not defined

In [28]:
actually_empty_df=vcat(actually_empty_df, DataFrame(Name="emptytestdataframe2",W=7.0,H=6))

2×3 DataFrame
 Row │ Name                 W        H
     │ String               Float64  Int64
─────┼─────────────────────────────────────
   1 │ emptytestdataframe       6.0      5
   2 │ emptytestdataframe2      7.0      6

In [29]:
actually_empty_df=vcat(actually_empty_df,DataFrame("line 3",3.0,3))

LoadError: MethodError: no method matching DataFrame(::String, ::Float64, ::Int64)
Closest candidates are:
  DataFrame(::AbstractVector{var"#s34"} where var"#s34"<:Type, ::AbstractVector{var"#s33"} where var"#s33"<:AbstractString, ::Integer; makeunique) at C:\Users\Aditya\.julia\packages\DataFrames\nxjiD\src\dataframe\dataframe.jl:380
  DataFrame(::AbstractVector{T}, ::AbstractVector{Symbol}, ::Integer; makeunique) where T<:Type at C:\Users\Aditya\.julia\packages\DataFrames\nxjiD\src\dataframe\dataframe.jl:374
  DataFrame(::T; copycols) where T at C:\Users\Aditya\.julia\packages\DataFrames\nxjiD\src\other\tables.jl:48

In [30]:
describe(anscombe,:mean,:std,:min,:median,:q25) #describes every column of a dataframe

8×6 DataFrame
 Row │ variable  mean     std      min   median   q25
     │ Symbol    Float64  Float64  Real  Float64  Float64
─────┼────────────────────────────────────────────────────
   1 │ X1        9.0      3.31662  4        9.0     6.5
   2 │ X2        9.0      3.31662  4        9.0     6.5
   3 │ X3        9.0      3.31662  4        9.0     6.5
   4 │ X4        9.0      3.31662  8        8.0     8.0
   5 │ Y1        7.50091  2.03157  4.26     7.58    6.315
   6 │ Y2        7.50091  2.03166  3.1      8.14    6.695
   7 │ Y3        7.5      2.03042  5.39     7.11    6.25
   8 │ Y4        7.50091  2.03058  5.25     7.04    6.17